/* This css is for Card */
.card {
  width: 400px;
  margin: 20px;
  border-radius: 20px;
  cursor: pointer;
}

.column {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* This css is for when someone hover over the card image */
.ant-card-cover:hover {
  background: #010e27;
  color: #fff;
}

/* This css is for Shopping Cart */
.anticon-shopping {
  color: rgb(255, 255, 255);
  float: inherit;
  margin-left: 10px;
}

.card-product-image {
  max-width: 100%;
}
