.site-layout-content {
  min-height: 280px;
  display: flex;
  padding: 24px;
  background: #fff;
}
.logo {
  float: right;
  width: 120px;
  height: 31px;
  margin: 16px 0px 0px 0px;
  font-size: 40px;
}

.search {
  float: none;
  width: 120px;
  height: 31px;
  margin: 16px 0px 0px 0px;
  font-size: 40px;
}

.container-container {
  padding: 0px 80px 0px 80px;
  margin: 20px;
  padding: 1em;
}

.content-style {
  height: 400px;
  color: #fff;
  line-height: 160px;
  text-align: center;
  background: #010e27;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 24px 16px 24px;
}

[data-theme="dark"] .site-layout-content {
  background: #141414;
}

.icons-list > .anticon {
  float: right;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 24px;
  font-size: 40px;
}
